@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  color: white;
  padding: 0 2rem;
}


.header .detail ul {
  list-style: none;
  display: flex;
}

.header .detail ul li {
  margin: 10px;
}


.header .detail ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.header .login-done h1 {
  color: black;
}

.header .log-out {
  display: flex;
}

.log-in {
  display: flex;
  justify-content: center;
}

.log-in button a {
  text-decoration: none;
  color: white;
}

.log-in button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.log-in button:hover {
  background-color: #555;
}

.log-in button:nth-child(1) {
  background-color: #ff9800;
}

.log-in button:nth-child(1):hover {
  background-color: #ffac33;
}


.log-out {
  display: flex;
  align-items: center;
}

.log-out h1 {
  margin-right: 10px;
}

.log-out button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.log-out button:hover {
  background-color: #555;
}


.homepage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}

.homepage .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 0 3rem;
}

.homepage .home .logo {
  margin-bottom: 2rem;
}

.homepage .home .logo img {
  width: 30%;
}

.homepage .home h1 {
  font-size: 2.2rem;
  margin: 1rem 0;
  color: #333;
  text-align: start
}

.homepage .home p {
  font-size: 1.2rem;
  color: #666;
  margin: 1rem 0;
  text-align: justify;
}

.homepage .home button {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25%;
  border-radius: 20px;
  margin: 1rem 0;
}

.homepage .home button:hover {
  background-color: #0056b3;
}

.homepage .home button a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.homepage .home button a:hover {
  text-decoration: none;
}

.homepage .home button:hover {
  background-color: #0056b3;
}

.homepage .images {
  background-image: url("./images/hero-home-page-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f1f1f1;
}

.register .detail {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.register .detail .logo,
.login .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.register .detail .logo img,
.login .logo img {
  width: 40%;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register input {
  margin-bottom: 10px;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register .detail button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem 0;
}

.register .detail button:hover {
  background-color: #0056b3;
}

.register .already {
  display: flex;
  align-items: center;
}

.register .already p {
  margin-right: 5px;
}

.register .already a {
  color: #007bff;
  text-decoration: none;
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register {
  animation: fadeIn 0.5s ease;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.popup p {
  margin-bottom: 10px;
  text-align: end;
}

.popup button {
  padding: 8px 16px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .register .detail {
    max-width: 100%;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f1f1f1;
}

.login .form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.login button:hover {
  background-color: #0056b3;
}

.login .sign-up {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.login .sign-up p {
  margin-right: 5px;
}

.login .sign-up a {
  color: #007bff;
  text-decoration: none;
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login {
  animation: fadeIn 0.5s ease;
}

/* Responsive styles */
@media (max-width: 600px) {
  .form {
    max-width: 100%;
  }
}

.resume {
  display: flex;
}

.resume .resume-edit {
  width: 30%;
  position: fixed;
  left: 0;
  top: 12;
  height: 90vh;
  overflow-y: auto;
  background-color: #9376e0;
  color: #fff;
  padding: 20px;
}

.resume .resume-template {
  width: 70%;
  margin-left: 30%;
  /* Adjust the margin to match the width of resume-edit */
  background-color: #f4f4f4;
}

.userdetails {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  overflow: auto;
  flex-direction: column;
}

.userdetails form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.userdetails input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.userdetails h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
}

.userdetails input[type='submit'] {
  background-color: #9376e0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.userdetails input[type='submit']:hover {
  background-color: #7c61cd;
}

/* Animation Effects */
.userdetails {
  opacity: 0;
  animation: fade-in 0.5s ease-out forwards;
}

.userdetails .color-box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.userdetails .color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.userdetails .font-box {
  margin-bottom: 1rem;
}

.userdetails .font-box h4 {
  color: black;
  text-align: center;
  margin-bottom: 5px;
}

.userdetails .font-box ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.userdetails .font-box ul li {
  color: black;
  margin-left: 20px;
  cursor: pointer;
}

.userdetails .font-box ul li:hover {
  color: blue;
}

/* Add external CSS file or style tag in HTML file */
.userdetails .save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userdetails .save button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.userdetails .save button:nth-child(1) {
  background-color: #4CAF50;
}

.userdetails .save button:nth-child(1) {
  background-color: #4CAF50;
  /* Green background color for the first button */
}

.userdetails .save button:nth-child(2) {
  background-color: #3F51B5;
}

.userdetails .save button:hover {
  background-color: #45a049;
}

.userdetails .save button:nth-child(2):hover {
  background-color: #5c6bc0;
  /* Hover background color for the second button */
}

.userdetails .skillset{
  list-style: none;
  margin: 1rem 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.userdetails .skillset li{
  color: black;
  width: 30%;
  margin: 10px 5px;
}



.skillset li {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  text-align: center;
  
}

.skillset li .edit-icon {
  margin-right: 5px;
  cursor: pointer;
}

.skillset li .delete-icon {
  margin-left: 5px;
  cursor: pointer;
}

.skillset li svg:last-of-type{
  color: red;
  cursor: pointer;
}

.skillset li svg:first-of-type{
  cursor: pointer;
}

.project-detail{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 80%;
}

.project-detail h1{
  font-size: 1rem;
  color: black;
  width: 100%
  ;
}

.project-detail p{
  font-size: 0.8rem;
  color: black;
  width: 100%;
}

.project-detail .project-link{
  display: flex;
  align-items: center;
}

.project-detail .project-link a{
  margin-left: 5px;
}


.project-detail .project-edit svg:first-of-type{
  color: black;
  cursor: pointer;
}

.project-detail .project-edit svg:last-of-type{
  color: red;
  cursor: pointer;
}






@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.template {
  display: flex;
  justify-content: center;
  align-items: center;
}

.template .all-detail {
  margin: 1rem 0;
  width: 80%;
  background-color: lightgrey;
}

.template .all-detail .info .name-title h1 {
  text-align: center;
  margin: 1rem 0 0.5rem 0;
  font-weight: bolder;
}

.template .all-detail .info .name-title h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

.template .all-detail .contact {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.template .all-detail .contact p {
  margin: 0 1rem;
}

.template .line {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: black;
  right: 0;
  bottom: -100%;
}

.template .about {
  padding: 0 0.5rem;
  margin: 2rem 0 0 0;
  min-height: 80px;
}

.template .about p {
  width: 90%;
  margin: auto;
  text-align: justify;
}


.template .education {
  padding: 0 0.5rem;
  position: relative;
  min-height: 80px;
}


.template .education .education-title h1,
.template .experience h1 , .template .skill h1 , .template .projects h1{
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  position: relative;
}

.template .education .education-title h1:before,
.template .experience h1::before , .template .skill h1::before , .template .projects h1::before{
  background-color: #c50000;
  content: '';
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.template .education .education-title h1:after,
.template .experience h1::after , .template .skill h1::after , .template .projects h1::after {
  background-color: #c50000;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}

.template .education .degree {
  line-height: 1.5rem;
}

.template .skill{
  padding: 0 0.5rem;
}

.save-btn{

  background-color: #ff4081;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover{
    background-color: #e91e63;

}


.template .skill ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin:  1rem 0;
}

.template .skill ul li {
  margin: 5px 15px;
  height: 20px;
  width: auto;
  border: 2px solid;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.template .projects{
  padding: 0 0.5rem;
  min-height: 80px;
}






.template .download{
  position: absolute;
    right: 5%;
    bottom: 5%;
}

.template .download button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}


.template .template-project {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.template .template-project h2{
  font-size: 1rem;
  font-weight: bold;
}
.template .template-project p{
  font-size: 1rem;
}
.template .template-project svg{
  font-size: 0.9rem;
}


