*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  height: 10vh;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--background-light);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  color: white;
  padding: 0 2rem;
}


.header .detail ul{
  list-style: none;
  display: flex;
}

.header .detail ul li{
  margin: 10px;
}


.header .detail ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.header .login-done h1{
  color: black;
}

.homepage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
}

  .homepage .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 0 3rem;
  }

  .homepage .home .logo{
    margin-bottom: 2rem;
  }
  
  .homepage .home .logo img{
    width: 30%;
  }

  .homepage .home h1 {
    font-size: 2.2rem;
    margin: 1rem 0;
    color: #333;
    text-align: start
  }
  
  .homepage .home p {
    font-size: 1.2rem;
    color: #666;
    margin: 1rem 0;
    text-align: justify;
  }

  .homepage .home button {
    background-color: #1976d2;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 30%;
    border-radius: 20px;
    margin: 1rem 0;
  }
  
  .homepage .home button:hover {
    background-color: #0056b3;
  }
  
  .homepage .home button a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .homepage .home button a:hover {
    text-decoration: none;
  }
  
  
  
  .homepage .home button:hover {
    background-color: #0056b3;
  }

.homepage .images {
  background-image: url("./images/hero-home-page-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 100%;
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f1f1f1;
}

.register .detail {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}
.register .detail .logo , .login .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.register .detail .logo img, .login .logo img{
  width: 40%;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register input {
  margin-bottom: 10px;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register .detail button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem 0;
}

.register .detail button:hover {
  background-color: #0056b3;
}

.register .already {
  display: flex;
  align-items: center;
}

.register .already p {
  margin-right: 5px;
}

.register .already a {
  color: #007bff;
  text-decoration: none;
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register {
  animation: fadeIn 0.5s ease;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.popup p {
  margin-bottom: 10px;
  text-align: end;
}

.popup button {
  padding: 8px 16px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .register .detail {
    max-width: 100%;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f1f1f1;
}

.login .form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.login button:hover {
  background-color: #0056b3;
}

.login .sign-up {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.login .sign-up p {
  margin-right: 5px;
}

.login .sign-up a {
  color: #007bff;
  text-decoration: none;
}

/* Add animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login {
  animation: fadeIn 0.5s ease;
}

/* Responsive styles */
@media (max-width: 600px) {
  .form {
    max-width: 100%;
  }
}
